:root {
  --color-principal: #2d3142;
  --color-fondo-principal: #d8d5db;
  --color-fondo-secundario: #adacb5;
  --color-texto: #333;
  --altura-cabecera-pie: 100px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--color-texto);
  font-family: Poppins, sans-serif;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.titular-pagina {
  font-weight: 700;
  font-size: 2rem;
}
.titular-noticia {
  font-weight: 700;
  font-size: 1.5rem;
}
.titular-enlaces {
  font-weight: 700;
  font-size: 18.72px;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  margin-bottom: 10px;
}
.cabecera,
.pie {
  background-color: var(--color-principal);
  color: #fff;
  height: var(--altura-cabecera-pie);
  display: flex;
  align-items: center;
}
.pie {
  justify-content: center;
}
.principal {
  background-color: var(--color-fondo-principal);
}
.sidebar {
  background-color: var(--color-fondo-secundario);
  flex: 1;
}
.principal,
.sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.bloque {
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar .listado + .listado {
  margin-top: 15px;
}
.contenedor-principal {
  min-height: calc(100vh - var(--altura-cabecera-pie) * 2);
}
.principal {
  flex: 2;
}
.contenedor-general {
  margin: 0 auto;
}

@media (min-width: 500px) {
  .contenedor-principal {
    display: flex;
  }
  .contenedor-general {
    width: 480px;
  }
}
@media (min-width: 800px) {
  .contenedor-general {
    width: 740px;
  }
}
@media (min-width: 1000px) {
  .contenedor-general {
    width: 940px;
  }
}
@media (min-width: 1300px) {
  .contenedor-general {
    width: 1200px;
  }
}
